* {
	margin: 0;
	padding: 0;
}

#c {
	top: 97px; 
	position: static; 
	margin: 0 auto; 
	padding-left: 200px;
	padding-top: 97px;
}

div.section1 {
	top: 100px;
	margin: 0 auto;
	height: 713px;
	width: 1000px;
	position: relative;
	background-image: url('laptop.png');
	background-repeat: no-repeat;
	background-position: center;
}

div.code {
	color: white;
	font-size: 80px;
	font-family: "HelveticaNeue-Light";
	background-color: #16a085;
	text-align: center;
	width: 34%;
	top: 150;
	position: absolute;
}

div.design {
	color: white;
	background-color: #8e44ad;
	font-size: 80px;
	font-family: "HelveticaNeue-Light";
	text-align: center;
	width: 34%;
	position: absolute;
	top: 150;
	right: 0;
}
